<p id="notice"><%= notice %></p>

<h2>Artist</h2>
<p>
<%= image_tag @profile.user.avatar.url(:thumb), class:"img-circle" %>
</p>
<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @profile.contact %>
</p>


<h2>Artworks</h2>
<div class="row clearfix">
    <% @artwork.each do |a| %>
      <div class="col-md-1">
         <div class="span">
            <%= link_to (image_tag a.artwork.url(:thumb)), a  %>
         </div>
      </div>
    <% end %>
</div>

