<%= form_for(@art) do |f| %>
  <% if @art.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@art.errors.count, "error") %> prohibited this art from being saved:</h2>

      <ul>
      <% @art.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :required => true, :placeholder => "Artwork title", :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :required => true, :placeholder => "Artwork description", :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :artwork %><br>
    <%= f.file_field :artwork %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= link_to 'Cancel', arts_path, class:"btn btn-danger" %>
  </div>
<% end %>
