<p id="notice"><%= notice %></p>

<div class="row clearfix">
      <div class="col-md-4">
         <div class="span3">
            <%= image_tag @art.artwork.url(:medium) %>
         </div>
      </div> 
      <div class="col-md-8">
         <div class="span3">
           <p>
           Artwork Title: <%= @art.title %>
           </p>
          
           <p>
           Artist: <%= link_to @art.user.name, @art.user.profile  %>
           </p>

           <p>
           <%= @art.description  %>
           </p>
         </div>
      </div> 

</div>
<h2>Other Works</h2>
<div class="row clearfix">
    <% @other_works.each do |a| %>
      <div class="col-md-1">
         <div class="span">
            <%= link_to (image_tag a.artwork.url(:thumb)), a  %>
         </div>
      </div>
    <% end %>
</div>

